/*-------
---------
ZOI's CSS
---------
-------*/

body {
    margin: 0;
}


/*------
HTML_tag
------*/

a {
    color: #0064dc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    list-style: none;
}


/*-------
class_tag
-------*/

.h1::before {
    content: "<h1>";
}

.h1::after {
    content: "</h1>";
}


/*--------
Breadcrumb
--------*/

.breadcrumb {
    width: calc(100% - 4rem);
    height: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    color: #808080;
    font-size: 16px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.breadcrumb-items {
    width: 100%;
    height: 1.5rem;
    display: flex;
    padding: 0;
    margin: auto 0;
}

.breadcrumb-item::before {
    padding-right: 0.5rem;
    content: "/";
}

.breadcrumb-item {
    margin: 0 0.5rem;
}

.breadcrumb-item-first {
    margin: 0 0.5rem;
}


/*----
Button
----*/

.button {
    height: 1rem;
    padding: 0.75rem;
    margin: 1rem;
    color: #ffffff;
    font-size: 16px;
    background-color: #0080ff;
    border-radius: 5px;
}

.button:hover {
    text-decoration: none;
}


/*--
Card
--*/

.card {
    width: 18rem;
    height: 400px;
    margin: 1rem;
    color: #000000;
    border: 1px solid #e8e8e8;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 10px;
}

.card-image {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
}

.card-text {
    width: calc(100% - 2rem);
    height: calc(128px - 2rem);
    padding: 1rem;
}

.card-text h2 {
    margin: 0.5rem 0;
}

.card-button {
    margin-top: 40px;
}


/*---
Cards
---*/

.cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*------
LongCard
------*/

.longcard {
    width: calc(100% - 4rem);
    height: 200px;
    margin: 1rem 2rem;
    color: #000000;
    border: 1px solid #e8e8e8;
    display: flex;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 10px;
}

.longcard-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
}

.longcard-texts {
    width: calc(100% - 200px - 2rem);
}

.longcard-text {
    width: 100%;
    height: calc(64px - 2rem);
    padding: 1rem;
}

.longcard-text h2 {
    margin: 0.5rem 0;
}

.longcard-button {
    margin-top: 85px;
}


/*------
Carousel
------*/


/*------
Dropdown
------*/

.dropdown {
    visibility: visible;
}

.dropdown-item {
    text-align: center;
    visibility: hidden;
}

.dropdown-items {
    visibility: hidden;
}

.dropdown-items:hover {
    visibility: initial;
}


/*-------
Jumbotron
-------*/


/*----
header
----*/


/*----
footer
----*/


/*------
Progress
------*/


/*--------
console(12)
--------*/

.console_elia {
    background: #000000;
}

.console {
    display: flex;
    justify-content: center;
}

.console p {
    color: #ffffff;
    font-size: 64px;
    font-family: monospace;
    letter-spacing: 12px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 40px solid;
    margin: 10px auto 10px auto;
}

.console .console_text {
    width: 0;
    animation: type 1.6s steps(12, end) 1000ms forwards;
}

@keyframes type {
    to {
        width: 520px;
    }
}


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/****-----menuからheader-----***/

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 2rem);
    height: 4rem;
    padding: 0 1rem;
    margin: 0;
    background: #e8e8e8;
}

.header a {
    text-decoration: none;
}

.header>li {
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    background: #eaeaea;
}

.header>li a {
    display: block;
    color: #000000;
}

.header>li a:hover {
    color: #999999;
}

.header__item {
    float: right;
    padding-left: 1rem;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

ul.header__level2 {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.header>li:hover {
    background: #eaeaea;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.header__level2 li {
    border-top: 1px solid #cccccc;
}

.header__third-level li {
    border-top: 1px solid #cccccc;
}

.header__level2 li a:hover {
    background: #eaeaea;
}

.header__img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    background-size: cover;
}

.header__img a {
    width: 3rem;
    height: 3rem;
    display: block;
}


/* 下矢印 */

.init-bottom:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 2.5px 15px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* floatクリア */

.header:before,
.header:after {
    content: " ";
    display: table;
}

.header:after {
    clear: both;
}

.header>li.header__item {
    position: relative;
}

li.header__item ul.header__level2 {
    position: absolute;
    top: 40px;
    width: 10rem;
    background: #eaeaea;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding-left: 1rem;
}

li.header__item:hover ul.header__level2 {
    top: 4rem;
    visibility: visible;
    opacity: 1;
}


/*--------
----------
レスポンシブ
----------
--------*/


/*タブレット*/

@media (max-width: 1024px) {}


/*スマホ*/

@media (max-width: 670px) {}